:root {
  --gray: #212121;
  --green: #009660;
  --white: #e9e9e9;
  --black: #0c0c0c;
  --lgray: #929292;
}

@font-face {
  font-family: Neue;
  src: url(./NeueMachina-Light_gwWCZxVuQl.ttf);
}

@font-face {
  font-family: bold;
  src: url(./HelveticaNowDisplay-Bold_VMHV5twUMR.ttf);
}

@font-face {
  font-family: hal;
  src: url(./HelveticaNowDisplay-Regular_5Mzhp8KlA8_CAVTbnsPOM.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--white);
  user-select: none;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--black);
}

.green {
  color: var(--green);
}

.gray {
  color: var(--gray);
}

@mixin display($align-items, $justify-content) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 10px 20px;
}

nav {
  @include display(center, space-between);
  padding: 15px 70px;
  position: fixed;
  width: 100%;

  .nav1 {
    @include display(flex-end, space-between);
    gap: 20px;

    h4 {
      font-size: 18px;
      font-family: neue;
      font-weight: 100;
    }

    img {
      height: 50px;
      line-height: 1.1;
    }
  }

  .nav2 {
    @include display(center, center);
    cursor: pointer;
    gap: 80px;

    h4 {
      font-family: Neue;
      font-size: 16px;
      font-weight: 100;

      i {
        font: 20px;
      }
    }

    img {
      height: 30px;
      border-radius: 50px 40px;
      width: 25px;
      cursor: pointer;
    }
  }

  .nav3 {
    cursor: pointer;
    align-items: center;
    gap: 30px;
    display: none;

    h4 {
      font-family: hal;
      font-size: 16px;

      i {
        font-size: 20px;
      }
    }

    img {
      height: 28px;
      border-radius: 50%;
      width: 28px;
    }
  }
}

@media (max-width: 600px) {
  nav {
    padding: 13px 20px;

    .nav1 {
      h4 {
        font-size: 14px;
      }

      img {
        height: 30px;
      }
    }

    .nav2 {
      display: none;
    }

    .nav3 {
      display: flex;
    }
  }
}

main {
  padding-top: 100px;

  .section1 {
    @include display(flex-start, space-between);
    padding: 15px 70px;
    font-family: hal;

    .left {
      width: 42%;

      h1 {
        font-size: 48px;
      }
      .tags {
        @include display(center, flex-start);
        gap: 5px 5px;
        margin: 30px 0;
        flex-wrap: wrap;

        h4 {
          padding: 10px 20px;
          border-radius: 4px;
          white-space: nowrap;
          background-color: var(--gray);
        }
      }
      .price {
        font-size: 35px;

        .green {
          color: var(--green);
        }
        .lgray {
          color: var(--lgray);
          font-size: 29px;
          font-weight: 800;
        }
      }
      .cta {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 20px 0;

        button {
          background: var(--green);
          padding: 20px 50px;

          border-radius: 5px;
          border: none;
          font-size: 20px;
        }
        button:nth-child(2) {
          background-color: var(--gray);
        }
      }
    }

    .right {
      .right-in {
        width: 600px;
        border-radius: 5px;
        overflow: hidden;
        .image {
          width: 100%;
          height: 350px;

          img {
            width: 100%;
            object-fit: cover;
            height: 100%;
          }
        }
        .image-bottom {
          padding: 10px;
          padding-top: 40px;
          background-color: var(--gray);
          display: flex;
          gap: 10px;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          h4 {
            background-color: #151515;
            padding: 10px 15px;
            border-radius: 5px;
            width: 45%;

            span {
              color: var(--green);
            }
          }
        }
      }
    }
  }

  .section2{
    @include display(center, center);
    padding: 120px 70px;
    flex-direction: column;

    h1{
      font-family: hal;
      font-size: 120px;
      background-image: url("https://ik.imagekit.io/sheryians/Aptitude%20&%20Reasoning/mask%20Large_ZB4lGN8hWZ.png");
      background-size: cover;
      background-clip: text;
      position: relative;
      color: transparent;
    }
    .bloom{
      position: absolute;
      filter: blur(80px);
    }
    h3{
      font-family: hal;
      font-size: 50px;
      text-transform: capitalize;
      letter-spacing: -1px;
    }
  }
}

@media (max-width: 1400px) {
  main .section1 .left h1 {
    font-size: 3.5vw;
  }
}
@media (max-width: 800px) {
  main {
    padding-top: 50px;
    .section1 {
      flex-direction: column-reverse;
      padding: 15px 5vw;

      .left {
        width: 100%;
        margin-top: 30px;
        h1 {
          font-size: 33px;
        }
      }
      .right {
        .right-in {
          width: 100%;
          .image {
            width: 100%;
            height: 50vw;
          }
          .image-bottom {
            padding: 10px;
            padding-top: 25px;
            gap: 8px;

            h4 {
              background-color: #151515;
              padding: 6px 12px;
              border-radius: 5px;
              font-size: 2.5vw;
              width: 45%;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 600px) {
  main .section1 .left h1 {
    font-size: 5vw;
  }
}

@media (max-width:900) {
  main .section2 h1{
    white-space: nowrap;
    font-size: 15vw;
  }
  main .section2 h3{
    text-align: center;
    font-size: 4vw;
  }
}